* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 60px;
}
h1 {
  text-align: center;
  padding: 20px 0;
  letter-spacing: 10px;
}
#sure {
  background-color: #21ba45;
  color: #fff;
}
.message {
  width: 100%;
  height: 40px;
  display: none;
}
a {
  cursor: pointer;
}
a:hover {
  color: red;
}
